<div>
    <!-- <img src="../../assets/icons/briefcase.png" /> Recent Transactions -->
</div>


    <input type="text" [(ngModel)]="search" (ngModelChange)="onSearch()">

    Sort By:
    <button type="button" (click)="onSortByDate()" class="btn btn-outline-secondary">DATE</button>
    <button type="button" (click)="onSortByAccount()" class="btn btn-outline-secondary">BENEFICIARY</button>
    <button type="button" (click)="onSortByAmount()" class="btn btn-outline-secondary">AMOUNT</button>


<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input (click)="onSortByDate()" type="radio" name="options" id="option1" autocomplete="off"> DATE
    </label>
    <label class="btn btn-secondary">
      <input (click)="onSortByAccount()" type="radio" name="options" id="option2" autocomplete="off"> BENEFICIARY
    </label>
    <label class="btn btn-secondary">
      <input (click)="onSortByAmount()" type="radio" name="options" id="option3" autocomplete="off"> AMOUNT
    </label>
</div> -->


<div class="table-responsive">
<table class="table table-hover" >
    
    <tbody>
        <tr *ngFor="let transaction of filteredData">
            <td>{{transaction.transactionDate | date:'LLL yy'}}</td>
            <td>
                <img height="40" width="40" [src]="transaction.merchantLogo" />
            </td>
            <td >
                <div style="font-weight: bold;">
                    {{transaction.merchant}}
                </div>
                <div>
                    {{transaction.transactionType}}
                </div>
            </td>
            <td style="font-weight: bold;">${{transaction.amount}}</td>
        </tr>
    </tbody>
</table>
</div>