<div>
    <!-- <img src="../../assets/icons/briefcase.png" /> Recent Transactions -->
</div>
<input type="text" [(ngModel)]="search" (ngModelChange)="onSearch()">

Sort By:
<!-- <button (click)="onSortByDate()">DATE</button>
<button (click)="onSortByAccount()">BENEFICIARY</button>
<button (click)="onSortByAmount()">AMOUNT</button> -->

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input (click)="onSortByDate()" type="radio" name="options" id="option1" autocomplete="off"> DATE
    </label>
    <label class="btn btn-secondary">
      <input (click)="onSortByAccount()" type="radio" name="options" id="option2" autocomplete="off"> BENEFICIARY
    </label>
    <label class="btn btn-secondary">
      <input (click)="onSortByAmount()" type="radio" name="options" id="option3" autocomplete="off"> AMOUNT
    </label>
</div>



<table style="background-color: white; padding: 5%;">
    <tbody>
        <tr *ngFor="let transaction of filteredData">
            <th style="padding: 2%;">{{transaction.transactionDate | date:'LLL yy'}}</th>
            <th style="padding: 4%;">
                <img height="20" width="20" [src]="transaction.merchantLogo" />
            </th>
            <th style="padding: 2%;">
                <div>
                    {{transaction.merchant}}
                </div>
                <div>
                    {{transaction.transactionType}}
                </div>
            </th>
            <th style="padding: 2%;">${{transaction.amount}}</th>
        </tr>
    </tbody>
</table>